table{
    border-collapse: collapse;
    text-align: center;
    font-family: 'Noto Sans JP';
    margin: 30px 30px;
}

td{
    border: 1px black solid;
    font-size: 40px;
    padding: 20px 10px;
}

.s0{
    width: 100px;
}

.s1{
    padding: 0 20px;
    background-color: gray;
    color: white;
}

.s2{
    background-color: gray;
    color: white;
    padding: 10px 10px;
}

.b0{
    background-color: rgb(213,213,213);
}

.en{
    font-family: 'Poppins';
}

input{
    width: 850px;
    margin: 20px 0 0 30px;
    padding: 8px;
    font-size: 20px;
    font-family: '0xproto';
}